/DailyShaderChallenge.sln
/Unity.RenderPipelines.Universal.Config.Editor.Tests.csproj
/Unity.RenderPipelines.Universal.Config.Runtime.csproj
/Temp
/UserSettings
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Logs
/Library
